include LICENSE
include setup.py
include README.md
include README.rst
include MANIFEST.in
include bin refinem
include refinem VERSION
include *.txt
recursive-include refinem *.py *.txt
recursive-include docs *.txt
